#!/usr/bin/env bash
# vim:ft=sh
exec docker run -i --rm \
  --name='{{ certbot_docker_cont_name }}' \
  --user='{{ certbot_docker_cont_uid }}' \
  -v '{{ certbot_config_dir }}:{{ certbot_config_dir }}' \
  -v '{{ certbot_work_dir }}:{{ certbot_work_dir }}' \
  -v '{{ certbot_logs_dir }}:{{ certbot_logs_dir }}' \
  -p '80:80/tcp' -p '443:443/tcp' \
  '{{ certbot_docker_cont_image }}' \
  "$@"
